.footer{
  align-items: center;
  background-color: $foreground-color;
  display: flex;
  height: 100px;
}


.footer-content{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.footer__button{
  padding: $size-sm-ultra;
  font-weight: 700;
  color: $foreground-color;
  border:none;
  outline: none;
  cursor:pointer;
}

.footer__copyright-text{
  color:#fff;
  font-size: $size-sm-ultra;

}