.header{
  background: $background-color;
  position:sticky;
  top:0;
  left:0;
  z-index:1;
}

.header-content{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.header__image{
  width: 50px;
  padding: $size-sm 0;
}

.header__nav__list{
  display: flex;
  list-style-type: none;
}

.header__nav__list__item{
  margin-left: $size-sm;
}

.header__nav__list__item__link{
  color: $secondary-color;
  text-decoration: none;
  text-transform: uppercase;
}

.header__nav__list__item__link:hover{
  color: $primary-color;
}