.header{
  background: $background-color;
  position:fixed;
  z-index:10;
  width: 100%;
  transform: translateY(0);
  transition: transform .5s ease;
}

.header-content{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.header__image{
  width: 50px;
  padding: $size-sm 0;
}

.header__nav__list{
  display: flex;
  list-style-type: none;
}

.header__nav__list__item{
  margin-left: $size-sm;
}

.header__nav__list__item__link{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.header__nav__list__item__link:hover{
  color: $primary-color;
}

.show-nav{
  transform: translateY(0);
}

.hide-nav{
  transform: translateY(-100px);
}