.hobby{
  height: 80vh;
  background-color: $background-color;
  position: relative;
}

.hobby::before{
  @include section-title;
  content: 'what I like';
}

.hobby__content{
  height: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (max-width:640px){
    height: 80%;
    justify-content: space-between;
  }
}