.hobbyBox{
  background-color: $foreground-color;
  border-radius: 10px;
  box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: $size-sm;
  position:relative;
  flex-basis: 25%;

  @media screen and (max-width:560px){
    flex-basis: 45%;
    margin-bottom: $size-sm;
  }
}

.hobbyBox__icon{
  width: 85px;
  margin-left: auto;

  @media screen and (max-width: 560px) {
    width: 65px;
  }
}

.hobbyBox__title{
  font-size: $size-sm;
  color: #fff;
  
  @media screen and (max-width: 560px) {
    font-size: $size-sm-ultra;
  }
}
