.introduction{
  background-color: $background-color;
  height: 100vh;
}

.introduction__content{
  height: 100%;
  display: flex;
  align-items: center;
}

.introduction__text{
  font-size: $size-sm;
  color: $primary-color;
  font-weight: 300;
}

.introduction__name{
  color: #fff;
  font-size: $size-xxl;
  font-weight: 600;
  line-height: 1.2;
  @media screen and (max-width: 640px) {
    font-size: $size-lg;
  }
}

.introduction__profession{
  font-size: $size-sm;
  font-weight: 600;
  color: $primary-color;
}

