.testimonial{
  height: 80vh;
  background-color: $background-color;
  display: flex;
  position: relative;
  align-items: center;  

  @media screen and (max-width: 640px) {
    height: 50vh;
  }

}

.testimonial::before{
  @include section-title;
  content: 'Testimonial'
}