.toolbox {
  background-color: $foreground-color;
  border-radius: 10px;
  box-shadow: 1px 2px 15px 5px rgba(0, 0, 0, 0.2);
  flex-basis: 20%;
  overflow: hidden;
  box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s ease;

  @media screen and (max-width: 640px) {
    flex-basis: 45%;
    margin-bottom: $size-sm;
  }
}

.toolbox__image {
  background: #fff;
  width: 100%;
}

.toolbox__title {
  color: #fff;
  font-size: $size-sm;
  padding: $size-sm-ultra 0;
  text-align: center;

  @media screen and (max-width: 640px) {
    font-size: $size-sm-ultra;
  }

  @media screen and (max-width: 768px) {
    font-size: $size-sm-ultra;
  }
}
