.tools{
  align-items: center;
  background: $background-color;
  display: flex;
  min-height: 80vh;
  position: relative;

  @media screen and (max-width: 640px){
    min-height: 100vh;
  }

  @media screen and (max-width: 375px){
    min-height: 80vh;
  }
}

.tools::before{
  @include section-title;
  content:'tools';
}

.tools__content{
  display: flex;
  align-items:center;
  justify-content: space-around;

  @media screen and (max-width: 640px){
    justify-content:space-between;
    flex-wrap: wrap;
  }
}