.tools{
  align-items: center;
  background: $background-color;
  display: flex;
  height: 80vh;
  position: relative;
}

.tools::before{
  @include section-title;
  content:'tools';
}

.tools__content{
  display: flex;
  align-items:center;
  justify-content: space-around;
}