$background-color: #192a56;
$foreground-color: #273c75;

$primary-color: #21caff;
$secondary-color: antiquewhite;

// utilities

$size-sm-ultra: 1rem;
$size-sm: 1.5rem;
$size-md: 2rem;
$size-lg: 3rem;
$size-xl: 4rem;
$size-xxl: 5rem;

$size-lg-pro: 12rem;
